/* Add some general styling to improve readability */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.formBgImage {
  background-image: url("https://images.pexels.com/photos/2694434/pexels-photo-2694434.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.formBg {
  background-color: #f5f5f521;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
}

.formBg h1 {
  color: #e50914;
  margin-bottom: 20px;
}

.formBg label {
  color: whitesmoke;
  font-weight: bold;
  margin-bottom: 5px;
}

.formBg input {
  width: 95%;
  padding: 10px 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #333;
  color: whitesmoke;
}

.formBg input:focus {
  outline: none;
  border: 1px solid whitesmoke;
}

.formBg div {
  color: whitesmoke;
  font-size: 12px;
  height: 18px;
}
.submitButton {
  width: 100%;
  margin-top: -12px;
}
.submitButton:hover {
  color: #e50914 !important;
  background-color: whitesmoke !important;
}

.formBg button {
  background: #e50914;
  color: whitesmoke;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.formBg button:hover {
  background: whitesmoke;
  color: #e50914;
}
.formBgHome{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 500px;
}
/* Add media query for better responsiveness */
@media (max-width: 600px) {
  .formBg {
    max-width: 100%;
  }
}
